/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
    -moz-box-sizing: inherit; /* Firexfox */
    -webkit-box-sizing: inherit; /* Safari/Chrome/iOS/Android */
    box-sizing: inherit; /* IE */
    /* outline: solid red 1px; */
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

.alignright {
   float: right;
   padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
   float: left;
   padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
    font-size: 62.5%;
}
body {
    color: #000;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    /* background-color: red; */
    background: url(/assets/daniela-izotenko-hOhlYhAiizc-unsplash.jpg) no-repeat top center fixed;    
    background-size: cover;
    background-position: 0rem -16rem;
}


/******************************************
/* LAYOUT
/*******************************************/
h1 {
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 0.8rem;
    font-size: 6rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant: small-caps;
}
.container, .headingAndButtons {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 20%;
}
#aside {
    height: 49rem;
    flex: 0.8 0;
    background: url(/assets/bardhalf.jpg) no-repeat center left fixed;
    background-position: 10rem 13rem;
}
#heading {
    flex: 1 0 40%;
    text-align: center;
    padding-top: 5%;
    /* border-bottom: solid 1px black; */
    font-weight: bold;
    text-shadow: 0.5px 0.6px black;
}
button {
    flex: 1 0 12%;
    background-color: rgba(255, 255, 255, 0.379);
    border: solid 1px rgba(0, 0, 0, 0.8);
    font-size: 2rem;
}
#buttons {

}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
